/* Global variables for a light theme */
html {
  /* colors */
  --base: #333;
  --accent: #c43b58;
  --accentAlt: hsl(347, 54%, 61%);
  --secondary: hsl(0, 0%, 92%);
  --contrast: #fefefe;
  /* fonts */
  --font-base: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  /* font-sizes */
  --f-xs: 0.5rem;
  --f-sm: 0.75rem;
  --f-regular: 1rem;
  --f-lg: 1.5rem;
  --f-xl: 1.75rem;
  /* radiuses */
  --r-regular: 1rem;
  /* spacings */
  --s-regular: 0.5rem;
  --s-lg: 0.75rem;
  --s-xl: 2rem;
  --s-xxl: 3rem;
}

html ::selection {
  background-color: var(--accentAlt);
  color: var(--contrast);
}

body {
  /* Mapping the base-colors to easy to use variables */
  --c-fill-accent: var(--accent);
  --c-fill-accent-alt: var(--accentAlt);
  --c-fill-secondary: var(--secondary);
  --c-text-base: var(--base);
  --c-text-accent: var(--accent);
  --c-text-secondary: var(--contrast);
  --c-stroke-base: var(--secondary);
  /* Most basic styles */
  background-color: var(--contrast);
  color: var(--c-text-base);
  font-family: var(--font-base);
}

* {
  outline-color: var(--accent);
  accent-color: var(--accent);
}

html,
body,
* {
  margin: 0;
  padding: 0;
}

a {
  color: var(--c-text-accent);
  font-family: var(--font-accent);
}

h1 {
  font-size: var(--f-xl);
  font-weight: bolder;
  margin: var(--s-lg) 0 var(--s-xxl) 0;
  position: relative;
}

h1:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -1rem;
  width: 4.5rem;
  height: 4px;
  background-color: var(--c-fill-accent);
}

h1 strong {
  font-family: var(--font-accent);
  color: var(--c-text-accent);
}

h2 {
  font-size: var(--f-xl);
  font-weight: bold;
  margin: var(--s-regular) 0 var(--s-regular) 0;
}

h3 {
  font-size: var(--f-xl);
  font-weight: regular;
  margin: var(--s-regular) 0 var(--s-regular) 0;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: var(--s-xxl) var(--s-regular);
}

@media screen and (max-width: 800px) {
  .container {
    padding: var(--s-xl);
  }
}
